<div class="col-xs-12 navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <h3 class="pull-left app-heading">{{appTitle}}</h3>
    <div class="pull-right admin">
        <label class="tiny-rightmargin">{{userDisplayName}}</label>
        <div class="dropdown pull-right">
            <i class="fa fa-user-circle dropdown-toggle cursor-pointer" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a class="cursor-pointer" (click)="logout()">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="" style="margin-top:57px;">
<div class="leftmenubar col-xs-2 nopadding">
    <ul class="main-ul">
        <li><a class="main-ul-link" [routerLink]="['billing']">Billing</a>
        </li>
        <li><a class="main-ul-link" [routerLink]="['item']">Items</a>
        </li>
        <li><a class="main-ul-link" [routerLink]="['report']">Reports</a>
        </li>
        <li *ngIf="showLinkUser"><a class="main-ul-link" [routerLink]="['user']">Users</a>
        </li>
    </ul>
</div>
<div class="col-xs-10 nopadding" style="position:absolute; right:0; height: 90vh;">
<router-outlet></router-outlet>
</div>
</div>